$nav_bar_background_color : #282b2d;
$btn_border_color: #686a6c;
$icon_defaul_color: #686a6c;
$button_defaul_bg: #282b2d;
$button_defaul_color: white;
$icon_defaul_border: #686a6c;
$sider_bg_color: #181B1C;
$sider_header_color: #9AC802;
$page_content_bg_color: #1f2222;
